.l-header {
  padding: 6rem 0 4.8125rem;
}

.l-header__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125rem;
  line-height: 4rem;
  color: var(--black);
}

.l-header--page {
  padding: 2.5625rem 0;
}

.l-header--logo {
  width: 6.875rem;
  position: absolute;
  top: 17px;
  z-index: 1;
}

.l-header--icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
  cursor: pointer;
}

.header__burger-menu-trigger {
  position: absolute;
  left: 2.5rem;
  top: 50%;
  transform: translate(0, -50%);
  height: 1.5rem;
  width: 1.5rem;
}

@media (max-width: 420px) {
  .l-header--logo {
    transform: translate(-50%);
    left: 50%;
  }

  .l-header {
    padding: 6rem 4.4375rem 4.8125rem 1rem;
    position: relative;
  }

  .l-header__title {
    font-size: 1.76rem;
    line-height: 2.375rem;
    font-style: normal;
    font-weight: normal;
  }

  .l-header--page {
    background: var(--grey-8);
    padding: 2rem 8.3125rem;
  }

  @media (min-width: 768px) {
    .header__burger-menu-trigger {
      display: none !important;
    }
  }
}