.l-header {
  padding: 6rem 0 4.8125rem;
}

.l-header__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 4rem;
  color: var(--black);
}

.l-header--page {
  padding: 2.5625rem 0;
}