<!DOCTYPE html>
<!-- Детальная компонента -->
<html lang="ru">

<head>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body class="background-grey-1">
  <div class="l-page">
    <header class="l-header l-header-page">
      <div class="l-container">
      </div>
    </header>

    <main class="l-page-main l-container">
      <aside class="c-sidebar">
        <h4 class="mb-md">Components</h4>
        <nav class="c-sidebar-menu">
          <a href="#">Modal</a>
          <a href="#">Tooltip</a>
          <a href="#">Avatar</a>
          <a href="#">Calendar</a>
          <a href="#" class="active">Histogram</a>
          <a href="#">Custom form elements</a>
        </nav>
        <a href="#">Main page</a>
      </aside>
      <div class="l-page-inner">
        <div class="l-contaner">
          <h3 class="l-page-inner__title">Histogram</h3>
          <div class="c-histogram">
            <div class="l-flex-block l-justify-space-between">
              <h3 class="c-histogram__title">Total orders</h3>
              <a class="c-histogram__link" href="#">View all</a>
            </div>
            <span class="c-histogram__total">50254</span>
            <div class="c-histogram__bars">
              <div class="c-histogram__bar" style="height: 100%"></div>
              <div class="c-histogram__bar" style="height: 10%"></div>
              <div class="c-histogram__bar" style="height: 54%"></div>
              <div class="c-histogram__bar" style="height: 99%"></div>
              <div class="c-histogram__bar" style="height: 87%"></div>
              <div class="c-histogram__bar" style="height: 88%"></div>
              <div class="c-histogram__bar" style="height: 10%"></div>
              <div class="c-histogram__bar" style="height: 25%"></div>
              <div class="c-histogram__bar" style="height: 21%"></div>
              <div class="c-histogram__bar" style="height: 10%"></div>
              <div class="c-histogram__bar" style="height: 20%"></div>
              <div class="c-histogram__bar" style="height: 50%"></div>
              <div class="c-histogram__bar" style="height: 6%"></div>
              <div class="c-histogram__bar" style="height: 3%"></div>
              <div class="c-histogram__bar" style="height: 10%"></div>
              <div class="c-histogram__bar" style="height: 12%"></div>
              <div class="c-histogram__bar" style="height: 67%"></div>
              <div class="c-histogram__bar" style="height: 10%"></div>
              <div class="c-histogram__bar" style="height: 64%"></div>
              <div class="c-histogram__bar" style="height: 91%"></div>
              <div class="c-histogram__bar" style="height: 10%"></div>
              <div class="c-histogram__bar" style="height: 24%"></div>
              <div class="c-histogram__bar" style="height: 58%"></div>
              <div class="c-histogram__bar" style="height: 64%"></div>
              <div class="c-histogram__bar" style="height: 23%"></div>
              <div class="c-histogram__bar" style="height: 74%"></div>
              <div class="c-histogram__bar" style="height: 58%"></div>
              <div class="c-histogram__bar" style="height: 13%"></div>
              <div class="c-histogram__bar" style="height: 66%"></div>
              <div class="c-histogram__bar" style="height: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="l-footer l-footer--page">
      <div class="l-container">
        <h5 class="l-footer--title">Reusable component library</h5>
      </div>
    </footer>
  </div>
</body>

</html>