.c-histogram {
  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: .5rem;
  padding: 1rem 1.5rem 1.5rem;
}

.c-histogram__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--black);
  opacity: .8;
  margin: 0 0 6px 0;
}

.c-histogram__link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: right;
  color: var(--blue);
  text-decoration: none;
  align-self: center;
}

.c-histogram__total {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--black);
  margin: 0 0 40px 0;
  display: block;
}

.c-histogram__bars {
  display: flex;
  justify-content: stretch;
  flex-wrap: nowrap;
  width: 100%;
  align-items: flex-end;
  flex-direction: row;
  height: 3.125rem;
}

.c-histogram__bar {
  background: var(--blue);
  flex: 1 0 auto;
  margin-right: 1px;
}

.c-histogram__bar:last-child {
  margin-right: 0;
}