.l-container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 70rem;
  width: 100%;
}

.l-container--main {
  height: 60rem;
  max-width: 75rem;
  background: var(--grey-8)
}

@media (max-width: 400px) {
  .l-container {
    padding: 0 0.5rem;
  }
}