html {
    font-size: 16px;
}

body {
    padding-top: 1rem;
}

.mb-md {
    margin-bottom: 1rem;
}

.mb-sm {
    margin-bottom: 0.5rem;
}

.l-container {
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
}

.l-container--main {
    width: 90rem;
}

.l-flex-block {
    display: flex;
}

.ml-md {
    margin-left: 1rem;
}