html {
    font-size: 16px;
}

.mb-md {
    margin-bottom: 1rem;
}

.mb-sm {
    margin-bottom: .5rem;
}

.l-flex-block {
    display: flex;
}

.ml-md {
    margin-left: 1rem;
}

.l-flex-grow {
    flex-grow: 1;
}

.l-justify-space-between {
    justify-content: space-between;
}

.background-grey {
    background: var(--grey-1);
}