@import "../css/normalize.css";
@import "../fonts/fonts.css";
@import "../css/help.css";
@import "../../components/container/container.css";
@import "../../components/header/header.css";
@import "../../components/footer/footer.css";
@import "../../components/sidebar/sidebar.css";
@import "../../components/page/page.css";
@import "../../components/card/card.css";
@import "../../components/preview/preview.css";
@import "../../04-lection2/02-skeleton/skeleton.css";
@import "../../04-lection2/01-histogram/histogram.css";

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-dark: #5028C6;
    --blue: #4263EB;
    --blue-dark: #2342C0;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #E2E6E8;
    --grey-6: #F3F5F5;
    --grey-7: #E3E7EA;
    --grey-8: #F9FAFC;
    --orange: #D84910;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    background: var(--grey-8);
}

h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.125rm;
    line-height: 4rem;
    color: var(--black);
    margin: 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.375rem;
    line-height: 3rem;
    margin: 0;
    color: var(--black);
}

h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2.375rem;
    color: var(--grey-4);
    margin: 0;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: var(--black);
    margin: 0;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1.125rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}