.c-calendar {
  background: var(--white);
  border: 1px solid var(--grey-3);
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 1.75rem 1.875rem 2.5rem 1.875rem;
  width: 100%;
  max-width: 20rem;
}

.c-calendar__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--blue-grey-dark);
  text-align: center;
  margin-bottom: 1.5rem;
}

.c-calendar__wrapper {
  position: relative;
  padding-bottom: 100%;
}

.c-calendar__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.c-calendar__item {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--blue-grey-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.c-calendar__item--day {
  color: #90A0B7;
  font-size: 0.875rem;
}

.c-calendar__item--active {
  background: var(--blue);
  color: var(--white);
}

.c-calendar__item--between-active {
  background: rgb(160, 177, 245, .2);
}