.c-tooltip {
  display: inline-flex;
  position: relative;
  cursor: pointer;
}

.c-tooltip__icon {
  height: 1.5rem;
  width: 1.5rem;
}

.c-tooltip__text {
  display: inline-flex;
  padding: 0.8125rem 1.3125rem;
  background: var(--blue);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--grey-2);
  position: absolute;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% + 0.5rem);
  display: none;
}

.c-tooltip__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 1rem solid transparent;
  border-top: .5rem solid var(--blue);
  transform: translateX(-50%);
}

.c-tooltip:hover>.c-tooltip__text {
  display: block;
}

.c-tooltip--icon {
  height: 1.375rem;
  width: 1.375rem;
}