.c-form-block__label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--grey-3);
  margin-bottom: 5px;
}

.c-form-block__input {
  background: var(--white);
  border: 1px solid var(--grey-2);
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  padding: 1rem 1.5rem;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.62500rem;
  color: var(--grey-4);
}

.c-form-block__input::placeholder {
  color: var(--grey-2);
}

.c-form-block__input:focus {
  border: 1px solid var(--blue);
  box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
}

.c-form-block--icon {
  width: 1.5rem;
  height: 1.5rem;
}

.c-form-block__input-wrapper {
  position: relative;
}

.c-form-block--success .c-form-block--icon {
  color: var(--success);
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translate(0, -50%);
}

.c-form-block--error .c-form-block--icon {
  color: var(--error);
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translate(0, -50%);
}

.c-form-block--error .c-form-block__input {
  border-color: var(--red);
  box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
}

.c-form-block--error .c-form-block__input:focus {
  border-color: var(--red);
  box-shadow: 0px 2px 2px rgba(240, 61, 62, 0.1);
}

.c-form-block__input.c-form-block__label {
  color: var(--grey-2);
  pointer-events: none;
}